<div id="container"></div>

<div id="info">
  Made with <i class="fa fa-heart"></i> in NYC by <a href="http://ryanyun.nyc" target="_blank">Ryan Yun</a> <span class="bull">&bull;</span> Check out the source code on <a href="https://github.com/ryannyunn/foursphere" target="_blank">Github</a> <span class="bull">&bull;</span> Powered by <a href="https://www.chromeexperiments.com/globe" target="_blank">WebGL Globe</a> <span class="bull">&bull;</span> Follow me on <a href="https://foursquare.com/ryanthemyanlion" target="_blank">Foursquare</a>
</div>

<div id="currentInfo">
  <% if current_user %>
    <span><%= link_to "Log Out", signout_path %></span>
  <% else %>
    <% if notice %><span><%= notice %> <span class="bull">&bull;</span></span><% elsif alert %><span><%= alert %></span> <span class="bull">&bull;</span><% end %><span><%= link_to "Log in with Foursquare", "/auth/foursquare" %></span>
  <% end %>
</div>

<div id="title">
  <i class="fa fa-foursquare"></i> <% if current_user %><strong><%= current_user.name %></strong>'s checkins<% else %>Foursphere<% end %>
</div>

<% if current_user %>
  <script type="text/javascript">
    // Where to put the globe?
    var container = document.getElementById( 'container' );
    // Make the globe
    var globe = new DAT.Globe( container );
    // Parse the JSON
    var data = JSON.parse( gon.data );
    // Tell the globe about your JSON data
    globe.addData( data[0][1], {format: 'magnitude', name: data[0][0]} );
    // Create the geometry
    globe.createPoints();
    // Begin animation
    globe.animate();
  </script>
<% else %>
  <script type="text/javascript">
    // Where to put the globe?
    var container = document.getElementById( 'container' );
    // Make the globe
    var globe = new DAT.Globe( container );
    // Create the geometry
    globe.createPoints();
    // Begin animation
    globe.animate();
  </script>
<% end %>